@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

iframe {
  margin:0;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

/* body */
body {
  font-family: Pretendard-Regular;
  /* padding: 20px; */
  background-color: rgb(253, 251, 245);
  border: 1px solid #000;
  margin: 12px;
}

.page-wrapper {
  margin: 0 2.5%;
}

/* Section HERO */

.section-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 21px;
  padding-bottom: 50px;
  border-bottom: #000 1px solid;
}


.section-title {
  font-weight: 600;
  font-size: 500%;
  margin-bottom: 3%;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 120%;
}

.white-button, .black-button {
  font-family: "Roboto Mono";
  width: fit-content;
  padding: 0 6px;
  /* height: 35px; */
  border-radius: 6px;
  line-height: 100%;
  margin-left: 10px;
  letter-spacing: 1px;
  font-weight: bold;

  /* margin: 0; */
  height: 25px;
  font-size: 10px;
}

.white-button {
  background: rgb(253, 251, 245);
  color: rgb(25, 25, 25);
}

.black-button {
  background: rgb(25, 25, 25);
  color: rgb(253, 251, 245);
}


/* Blog Seleted */

.seleted-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.seleted-poster {
  display: flex;
  flex-direction: column;
  margin: 7% 0;
}

#left-side-poster {
  border-right: #000 1px solid;
  padding-right: 7%;
}

#right-side-poster {
  padding-left: 7%;
}

.seleted-poster img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 5/3;
}


.selected-title .head-title {
  font-size: 12px;
  font-family: Roboto Mono;
  
  margin: 5px 0;
}

.selected-title .poster-title {
  font-size: 25px;
  font-family: Pretendard-Regular;
  font-weight: 600;
  
  margin: 5px 0;
}

/* Posters */
.posters-vertical {
  display: grid;
  margin: 30px 0px;
}

.posters-horizontal {
  display: grid;
  grid-template-columns: 33fr 36fr 33fr;
  margin: 20px 0;
}

#middle-side-poster {
  border-right: #000 1px solid;
  padding: 0 7%;
}

.poster-each img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 5/3;
}

.poster-title .head-title {
  font-size: 12px;
  font-family: Roboto Mono;
  
  margin: 5px 0;
}

.poster-title .poster-title {
  font-size: 18px;
  font-family: Pretendard-Regular;
  font-weight: 600;
  
  margin: 5px 0;
}

/* ---------------Section - PAGE BUTTON--------------- */

.button-page-move {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 50px 0;
}

/* ---------------Section CONTACT--------------- */

.section-cta {
  margin:10px;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 30px 0px;
}

.contact img {
  width: 50px;
  height: auto;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 20px;

  border-left: #000 1px solid;
}
.contact-details p {
  margin: 0px;
  line-height: 150%;
}

