@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


/* body */
body {
  font-family: Pretendard-Regular;
  /* padding: 20px; */
  background-color: rgb(253, 251, 245);
  border: 1px solid #000;
  margin: 12px;
}

.page-wrapper {
  margin: 2.5%;
}


/* Section HERO */

.section-hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin:10px;
}

.head-title {
  font-family: Roboto Mono;
  font-size: 10px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.section-title {
  font-weight: 600;
  font-size: 400%;
  margin-block-start: 5px;
  margin-block-end: 15px;
}

.section-title-2 {
  font-weight: 600;
  font-size: 300%;
  margin-block-start: 5px;
  margin-block-end: 15px;
}

.section-hero img {
  object-fit: cover;
  border-radius: 15px;
}


/* VALUE */

.value-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  flex-direction: row;
  /* flex: 2 1 30%; */
  border-bottom: #000 1px solid;
  margin:10px;
}

.value-content {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin:10px;
}

#add-border-bottom {
  border-bottom: #000 1px solid;
}

.value-title {
  /* Grid */
  position: static;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 30px 30px 0px; 
  justify-content: space-between;
}

.black-button {
  font-family: "Roboto Mono";
  width: fit-content;
  padding: 0 16px;
  height: 35px;
  border-radius: 6px;
  background: rgb(25, 25, 25);
  color: rgb(253, 251, 245);
  line-height: 100%;
  margin-right: 24px;
  letter-spacing: 1px;
}

.black-button:hover{
  background: rgb(253, 251, 245);
  color: rgb(25, 25, 25);
}

.black-button span {
  margin: 15px 0px;
}

.value-content {
  border-left:#000 1px solid;
  margin-bottom: 20px;
}

.value-content-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0 0 20px;
  padding-bottom: 10px;
}

.value-content-horizontal img {
  width: 40px;
  height: auto;
  margin-right: 20px;
}

.value-subtitle {
  margin-block-start: 0px;
  font-weight: 200;
}

.value-description {
  font-size: 13px;
  line-height: 150%;
}

/* ---------------Section OUR TEAM & Team Member--------------- */

.section-team {
  display: grid;
  grid-template-columns: 2fr 3fr;
  border-bottom: #000 1px solid;
  margin:10px;
}

.our-team {
  margin: 30px 0px 30px 0px; 
  padding-right: 30px;
  border-right: #000 1px solid;
}

.team-members-vertical {
  display: grid;
  margin: 30px 0px;
}

.team-members-horizontal {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* section - OUR TEAM */

.section-title-smaller {
  font-weight: 600;
  font-size: 320%;
  margin-block-start: 6px;
  margin-block-end: 6px;
}

.section-subtitle-smaller {
  font-weight: 400;
  font-size: 150%;
}

.team-member-each {
  padding: 0px 20px;
  margin: 10px 0px;
  overflow: hidden;
}

#right-border {
  border-right: #000 1px solid;
}

.team-member-each img {
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 5/3;
}

.team-member-each .name {
  font-size: 15px;
  font-family: Pretendard-Regular;
  
  margin-block-start: 2px;
  margin-block-end: 0px;
}

.team-member-each .description {
  font-size: 8px;
  font-family: Roboto Mono;
  
  margin-block-start: 2px;
  margin-block-end: 0px;
}

/* ---------------Section CONTACT--------------- */

.section-cta {
  margin:10px;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 30px 0px;
}

.contact img {
  width: 50px;
  height: auto;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 20px;

  border-left: #000 1px solid;
}
.contact-details p {
  margin: 0px;
  line-height: 150%;
}